build
msg_gen
srv_gen
src/flymad/msg
src/flymad/srv
*.yaml
*.bag
*.pyc
*~
flymad_micro/build-cli/*.o
flymad_micro/build-cli/*.cpp
flymad_micro/build-cli/*.d
flymad_micro/build-cli/*.elf
flymad_micro/build-cli/*.a
flymad_micro/build-cli/depends.mk
flymad_micro/build-cli/libs
