<launch>

  <param name="/ttm/headtrack_downsample" type="int" value="3" />
  <param name="/ttm/headtrack_mincontourarea" type="int" value="2000" />
  <param name="/ttm/headtrack_checkflipped" type="int" value="0" />
  <param name="/ttm/headtrack_usegpu" type="int" value="0" />
  <param name="/ttm/headtrack_templateimg" type="string" value="$(find flymad)/data/templates/ds3_from_1024_flybody.png" />

  <node name="gflymad" pkg="flymad" type="gflymad.py" />

</launch>
